@keyframes to-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes to-left {
  0% {
    transform: translateX(100%);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes to-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
